<!-- start top nav -->
	<nav>
      <div class="container py-2">
        <div class="row">
          <div class="col text-start">
						<a href="/houses"><img
							class="airbnb-logo"
							src="/images/logo-airbnb.png"
							alt="Airbnb"
						/></a>
          </div>
          <div class="col text-end">
						{{#if auth}}<a name="name" href="profile" class="btn btn-outline-secondary btn-sm">
              <img name="avatar"
              class="userlogo"src={{user.avatar}}><small
                >{{user.name}}</small
              ></a
            >
            <a href="/auth/logout" class="btn btn-outline-secondary btn-sm">
              <small>Logout</small></a
            >{{else}}
						  <a href="/auth/login" class="btn btn-outline-secondary btn-sm">
	              <small>Login</small></a
	            >
						{{/if}}
          </div>
        </div>
      </div>
    </nav>
    <!-- end top nav -->
