<div class="login-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card mx-auto text-center mt-5" style="width: 25rem;">
              <div class="center text-center mt-5">
                <a href="houses"><img
									class="airbnb-logo"
									src="/images/logo-airbnb.png"
									alt="Airbnb"
								/></a>
              </div>
              <div class="card-body text-start">
                <form action="/auth/signup" method="post" name="signup">
                  <div class="mb-1">
                    <label class="form-label mb-0">Your full name</label>
                    <input name="name" type="text" class="form-control" required />
                    <label class="form-label mb-0">Profile Picture</label>
                    <input
											name="avatar"
                      type="text"
                      class="form-control"
                      placeholder="https://..."
                    />
                    <label class="form-label mb-0">Email</label>
                    <input name="email" type="email" class="form-control" required/>
                    <label class="form-label mb-0 mt-3">Password</label>
                    <input name="password" type="password" class="form-control" required />
                    <button class="btn btn-success mt-3">
                      <small>Signup</small>
                    </button>
                    <div class="mt-3">
                      <small><strong>Already have an account?</strong></small>
                      <a href="auth/login"><small>Login</small></a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
