{{> nav loggedUser=loggedUser}}

    <!-- end top nav -->
    <!-- start of the form -->
    <div class="container">
      <div class="row">
        <div class="col">
          <form action="/houses" method="post">
            <h3 class="mt-5">List a house</h3>
            <label class="form-label mb-0">Short Title</label>
            <input name="title" type="text" class="form-control mb-3" />
            <label class="form-label mb-0">Description</label>
            <textarea name="description" rows="5" class="form-control mb-3"></textarea>
            <label class="form-label mb-0">Number of Rooms</label>
            <input name="rooms" type="number" class="form-control mb-3" />
            <label class="form-label mb-0">Location</label>
            <select name="location" class="form-select mb-3">
              <option selected>Choose location</option>
              <option>Koh Phangan</option>
              <option>Koh Samui</option>
              <option>Bali</option>
            </select>
            <label class="form-label mb-0">Price(per night)</label>
            <input name="price" type="number" class="form-control mb-3" />
            <label class="form-label mb-0">Add Photos(up to 9)</label>
            <input
							name="photos"
              type="text"
              class="form-control mb-1"
              placeholder="http://..."
            />
            <input
              name="photos"
              type="text"
              class="form-control mb-1"
              placeholder="http://..."
            />
            <input
              name="photos"
              type="text"
              class="form-control mb-1"
              placeholder="http://..."
            />
            <input
              name="photos"
              type="text"
              class="form-control mb-1"
              placeholder="http://..."
            />
            <input
              name="photos"
              type="text"
              class="form-control mb-1"
              placeholder="http://..."
            />
            <input
              name="photos"
              type="text"
              class="form-control mb-1"
              placeholder="http://..."
            />
            <input
              name="photos"
              type="text"
              class="form-control mb-1"
              placeholder="http://..."
            />
            <input
              name="photos"
              type="text"
              class="form-control mb-1"
              placeholder="http://..."
            />
            <input
              name="photos"
              type="text"
              class="form-control mb-1"
              placeholder="http://..."
            />
            <button class="btn btn-success mb-5">Submit</button>
          </form>
        </div>
      </div>
    </div>
