{{> nav}}

    <!-- end top nav -->
    <!-- start of the form -->
    <div class="container">
      <div class="row">
        <div class="col">
          <form>
            <h3 class="mt-5">List a house</h3>
            <label class="form-label mb-0">Short Title</label>
            <input type="text" class="form-control mb-3" />
            <label class="form-label mb-0">Description</label>
            <textarea rows="5" class="form-control mb-3"></textarea>
            <label class="form-label mb-0">Number of Rooms</label>
            <input type="number" class="form-control mb-3" />
            <label class="form-label mb-0">Location</label>
            <select class="form-select mb-3">
              <option selected>Choose location</option>
              <option value="1">Koh Phangan</option>
              <option value="2">Koh Samui</option>
              <option value="3">Bali</option>
            </select>
            <label class="form-label mb-0">Price(per night)</label>
            <input type="number" class="form-control mb-3" />
            <label class="form-label mb-0">Add Photos(up to 9)</label>
            <input
              type="text"
              class="form-control mb-1"
              placeholder="http..."
            />
            <input
              type="text"
              class="form-control mb-1"
              placeholder="http..."
            />
            <input
              type="text"
              class="form-control mb-1"
              placeholder="http..."
            />
            <input
              type="text"
              class="form-control mb-1"
              placeholder="http..."
            />
            <input
              type="text"
              class="form-control mb-1"
              placeholder="http..."
            />
            <input
              type="text"
              class="form-control mb-1"
              placeholder="http..."
            />
            <input
              type="text"
              class="form-control mb-1"
              placeholder="http..."
            />
            <input
              type="text"
              class="form-control mb-1"
              placeholder="http..."
            />
            <input
              type="text"
              class="form-control mb-3"
              placeholder="http..."
            />
            <button class="btn btn-success mb-5">Submit</button>
          </form>
        </div>
      </div>
    </div>
