{{> nav loggedUser=loggedUser}}
    <!-- end top nav -->
    <!-- Start of filter/form -->
    <div class="bg-light">
      <div class="container">
        <form>
          <div class="row pt-2">
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"
                  ><i class="fa-solid fa-location-dot"></i
                ></span>
                <select
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                >
                  <option selected>Any Location</option>
                  <option value="1">Koh Phangan</option>
                  <option value="2">Koh Samui</option>
                  <option value="3">Bali</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"
                  ><i class="fa-solid fa-house-chimney"></i
                ></span>
                <select
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                >
                  <option selected>Any rooms</option>
                  <option value="1">1 room</option>
                  <option value="2">2 rooms</option>
                  <option value="3">3 rooms</option>
                  <option value="4">4 rooms</option>
                  <option value="5">5 rooms</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"
                  ><i class="fa-sharp fa-solid fa-dollar-sign"></i
                ></span>
                <input
                  type="number"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm"
                />
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"
                  ><i class="fa-solid fa-sort"></i
                ></span>
                <select
                  class="form-select form-select-sm"
                  aria-label="Default select example"
                >
                  <option selected>Price(low to high)</option>
                  <option value="1">Price(high to low)</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="House name..."
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm"
                />
              </div>
            </div>
            <div class="col">
              <button class="btn btn-success btn-sm">
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- end of filter/form -->
    <!-- start houses -->
    <div class="container py-4">
      <div class="row row-cols-4">
        <!-- house 1 -->
        <div class="col">
          <div class="card mb-4">
            <img
              src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png

"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <small
                ><i class="fa-solid fa-thumbs-up"></i> Koh Samui • 4 Rooms
              </small>
              <h5 class="card-title text-start">Luxary Villa in Chaweng</h5>
              <div class="row">
                <div class="col text-start"><small>0 Reviews</small></div>
                <div class="col text-end"><small>$350/night</small></div>
                <a href="/houses/{{house._id}}" class="stretched-link"></a>
              </div>
            </div>
          </div>
        </div>
				<!-- end of house -->
      </div>
    </div>
